@font-face {
    font-family: inter;
    src: url(https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
}

body{
    background-color: white;
    font-family: inter;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 6px;
    color: black;
    padding: 3px 80px 3px 0px;
}
.button:hover{
    background-color: gray;
    transition: 500ms;
}

.box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 6px;
    color: black;
    padding: 10px 105px 3px 0px;

}
.sign{
     display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 6px;
    color: black;
    padding: 7px 115px ;
}
.sign:hover{
    background-color: gray;
    transition: 500ms;
}